.App {
  margin: 0%;
  padding: 0%;
  text-align: center;
  background-color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
}

.headElement{
  font-size: 400%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 3%;
  padding: 1%;
  
  background-color: black;
  color:white;

  font-weight: 700;


}

.element{
  
  align-items: center;
  text-align: center;
  justify-content: center;
  
  padding: 4%;
  border-radius: 2%;
  background-color: whitesmoke;

  border-bottom: 3px solid black;


}

.element :hover{
 color: inherit;
 text-decoration: underline;
 
}
h1 {
  color: black;
  
  }

p{
  color: black;
  text-rendering: optimizeLegibility;
}



.post {
  border-left: 3px solid black;
  border-right: 3px solid black;
  background-color:whitesmoke;
  
  margin-left: 20%;
  margin-right: 20%;
  
}

#myImg {
  width: 80%;
  height: 80%;
}

.page{
  display: inline-block;
}


.search{
  margin-left: 85%;
  display: inline-block;
  white-space: nowrap;
  float: left;
 
}

input, button{
  font-size: 85%;
}

.categories{
  white-space: nowrap;
  margin-top: 1%;
  float: left;
  padding-top: 0%;
  padding-bottom: 2%;
 

margin-right: 6%;
padding-left: 1%;
padding-right: 7%;
  
  
}

.categories li{
  font-size: 150%;
  list-style-type: square;
  text-align: left;

  color: black;
  cursor: pointer;
}

.categories li:hover{
  color: purple;
}

.categoryHead{
  white-space: nowrap;
  background-color: black;
  margin: 0%;
  padding: 0%;
  font-size: 180%;
  color: white;

}

#error{
  color: red;
  text-align: left;
}